__pycache__/
dev_iDeLUCS/*
.idea/*
.DS_Store
Results/
*/__pycache__/*
idelucs/kmers.c
idelucs/kmers.cpython-*
*.ipynb*
idelucs.egg-info/*
ALL_RESULTS.tsv
build/
*.tfrecord
s_50*
Example/*_shuffled.fas